
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
        <div class="jumbotron">
        <h1>SAML Test Service</h1>
        <p>This application is desigend to test SAML Interaction with Azure AD B2C. It includes the Identity Provider, Service Provider and Metadata endpoints..</p>
        <p>This is designed to be used with Azure AD B2C Policies.</p>
        <p>
            To download a working B2C Policy that uses this web site click the link below;
        </p>
        <p>
            <a class="btn btn-lg btn-primary" href="/B2CPolicy" role="button">Download B2C Policy</a>
        </p>
    </div>
</div> 